.mainDiv {
    background-color: #88e391a2;
    border-radius: .4em;
    
}

.contactMe{
    background-color: #88e391a2;
    border-radius: .4em;
    width: 30em;
    text-align: center;
    margin: auto;
}
