<div>
  <div>
    <h2>The Man, the Myth, the Legend</h2>

    <p>
      Tyler Michale Shelton, something somehting plants for a living, sdomething remembers his best friend like
      gardening
      but had trouble finding new and cool plants. Thus he started a buisness venture in buying said plants and selling
      them to others who needed convience.
    </p>
  </div>
          <!--contact info-->
          <div id="Contact">
              <!-- <section id="about"></section>
        <section id="portfolio"></section> -->
        <!-- <section id="contact"> -->
         <div class="container">
           <h2 class="text-center text-uppercase">Contact Me</h2>
           <div class="row" >
             <form action="https://formspree.io/YOUR EMAIL HERE" method="POST">
               <div class="control-group">
                 <div class="form-group">
                   <label>Name</label>
                   <input
                     type="text"
                     class="form-control"
                     placeholder="Your Name"
                     id="name"
                     required
                     data-validation-required-message="Please enter your name"
                     name="name"
                     >
                   <p class="help-block text-danger"></p>
                 </div>
               </div>
               <div class="control-group">
                 <div class="form-group">
                   <label>Email Address</label>
                   <input
                     type="email"
                     class="form-control"
                     placeholder="Your Email"
                     id="email"
                     required
                     data-validation-required-message="Please enter your email"
                     name="_replyto"
                   >
                   <p class="help-block text-danger"></p>
                 </div>
               </div>
               <div class="control-group">
                 <div class="form-group">
                   <textarea
                     class="form-control"
                     rows="7"
                     placeholder="Your Message"
                     id="message"
                     required
                     data-validation-required-message="Please leave a message"
                     name="message"
                   ></textarea>
                   <p class="help-block text-danger"></p>
                 </div>
               </div>
               <div class="text-center">
                 <div id="success"></div>
                 <button type="submit" class="btn btn-lg btn-black">
                   <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                   Send Message
                 </button>
               </div>
             </form>
           </div>
         </div>
      </div>
</div>