<h2>Admin Login</h2>
<!-- <div [formGroup]="login"> -->

  <form [formGroup]="login" (ngSubmit)="onLogin()" id="form">
    <label for="username">Email</label><br>
    <input 
      type="text" 
      placeholder="Email"
      formControlName="email" 
      name="email" >
      <br><br>

    <label for="password">Password</label><br>
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
      name="password" ><br><br>

    <button type="submit">Login</button>
  </form>
<!-- </div> -->